#blog {
  background-color: white;
}

.blogs__title {
  h1 {
    text-transform: uppercase;
    font-weight: bold;
  }
  margin-bottom: 50px;
}

.card {
  border: none;
  a {
    &.card-link {
      color: unset;
      &:hover {
        text-decoration: none;
      }
    }
  }

  margin-bottom: 20px;
}

.card-body {
  margin-top: 10px;
  background-color: $color-blue-bg;
  height: 120px;
  color: $color-white-font;

  h3 {
    @include media-breakpoint-only(sm) {
      font-size: 1.2rem;
    }
  }
}

.blog-card-img {
  height: 240px;
  overflow: hidden;
  img {
    position: relative;
    height: 100%;
    min-width: 100%;

    left: 50%;
    transform: translateX(-50%);

    max-width: unset;
    max-height: unset;
  }
}

.card-title {
  font-weight: bold;
}

/** Articles **/

#article {
  background-size: cover;
}

.article__title {
  margin-bottom: 20px;
}

.article__text {
  padding: 3rem 5rem;
  background-color: rgba(255, 255, 255, 0.7);

  table {
    table-layout: fixed;
  }

  th {
    width: 1%;
    border-bottom: 3px solid $color-blue-bg;
    border-right: 1px solid $color-blue-font-dark;
    padding: 0.5rem 1rem;
  }
  table tr th:last-child {
    border-right: 0;
  }

  td {
    width: 1%;
    border: 1px solid $color-blue-font-dark;
    padding: 1rem;
  }
  table tr:first-child td {
    border-top: 0;
  }
  table tr td:first-child {
    border-left: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:last-child {
    border-right: 0;
  }

  li {
    font-size: 1.2rem;
  }
}

.article__quote {
  position: relative;
  font-size: 3rem;
  padding: 4rem 1rem;
  text-align: center;
  margin: 2rem 0rem;

  &:before {
    content: '';
    background-image: url('../images/quote-low.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: -20px;
    bottom: -20px;
    width: 300px;
    height: 100px;
  }
  &:after {
    content: '';
    background-image: url('../images/quote-high.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    position: absolute;
    right: -20px;
    top: -20px;
    width: 300px;
    height: 100px;
  }
}
