#contact-form {
  label {
    font-size: 1.2rem;
  }

  input[type='text'],
  input[type='text']:focus,
  input[type='text']:active,
  input[type='email'],
  input[type='email']:focus {
    background-color: unset;
    border: none;
    border-radius: 0;
    border-bottom: 1px $color-blue-font-dark solid;
    box-shadow: none;
  }

  input[type='submit'] {
    background-color: unset;
    border-radius: 0;
    border: 1px $color-blue-font-dark solid;
    text-transform: uppercase;
    font-weight: bold;
  }

  textarea {
    background-color: unset;
    border-radius: 0;
    border: 1px $color-blue-font-dark solid;
  }
}

.contact-title {
  h1 {
    font-weight: bold;
  }
}
