/* COLORS */

$color-green-bg: #b1c188;
$color-blue-bg: #8fa9bc;

$color-blue-font-light: #8fa9bc;
$color-blue-font-dark: #014b64;

$color-white-font: white;

$offset-menu: 150px;

/* FONTS */

.font-crimson {
  font-family: 'Crimson Text', cursive;
}

.font-parisienne {
  font-family: 'Parisienne', sans-serif;
}
