footer {
  position: relative;
  height: 120px;
  background-color: $color-blue-bg;
  color: $color-white-font;

  .container {
    position: relative;
  }

  h1 {
    text-transform: uppercase;
    font-weight: 400;
  }
  a {
    font-size: 1.2rem;
    color: $color-white-font;
    &:hover {
      color: $color-white-font;
    }
  }

  .contact-info {
    height: 100%;
  }

  .logo {
    position: absolute;
    top: 50%;
    right: 0px;
    padding: 10px;

    transform: translateY(-50%);

    height: 70%;
    @include media-breakpoint-up(sm) {
      height: 80%;
    }

    @include media-breakpoint-up(md) {
      height: 100%;
    }
  }

  .copyright {
    height: 30px;
  }
}
