#home {
}

.home__main-text {
  position: relative;
  margin-top: 250px;
  padding: 5rem 2rem;
  background-color: rgba(255, 255, 255, 0.9);

  @include media-breakpoint-up(md) {
    margin-top: unset;
    padding: 5rem;
  }
}

.home__quote {
  position: absolute;
  top: -50vw;
  left: calc(50% - 30vw);

  background-color: $color-blue-bg;

  height: 60vw;
  width: 60vw;
  border-radius: 50%;
  display: inline-block;

  @include media-breakpoint-up(sm) {
    top: -250px;
    left: calc(50% - 150px);
    height: 300px;
    width: 300px;
  }

  @include media-breakpoint-up(md) {
    left: -260px;
    top: calc(50% - 150px);
  }
}

.home__quote-text {
  max-height: 100%;
  color: $color-white-font;
  padding: 8vw;
  font-size: 5vw;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  @include media-breakpoint-up(sm) {
    font-size: 2rem;
    padding: 4rem;
  }
}

.home__quote-image {
  position: absolute;
  left: 5%;
  top: 5%;

  height: 90%;
  width: 90%;
  overflow: hidden;
  img {
    object-fit: cover;
    border-radius: 50%;

    height: 100%;
    width: 100%;
  }
}
