html,
body {
  height: 100%;

  font-family: 'Crimson Text';
  font-size: 12px;
  color: $color-blue-font-dark;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
}

p {
  font-size: 1.2rem;
}

.page-outer {
  min-height: calc(100% - 120px);
  background-size: cover;
}

.page-inner {
  padding-top: $offset-menu;
  padding-bottom: 30px;
  z-index: 4000;
}

#front-image {
  min-height: 600px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: calc(100% + 850px);
  background-position: -470px 10%;
  margin-bottom: 50px;

  @include media-breakpoint-only(xs) {
    max-height: 800px;
  }

  @include media-breakpoint-up(sm) {
    background-size: calc(100% + 600px);
    background-position: -500px 0%;
  }

  @include media-breakpoint-up(lg) {
    background-size: calc(100% + 300px);
    background-position: -300px 0%;
  }

  .logo {
    margin-top: 100px;
    width: 100%;
    img {
      max-width: 220px;
    }

    @include media-breakpoint-up(sm) {
      img {
        max-width: 300px;
      }
    }
  }

  .main-image__text {
    padding: 0.5rem 0 0.5rem 0;
    margin-bottom: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .main-image__title {
    text-transform: uppercase;
  }

  .main-image__subtitle {
    text-transform: uppercase;
  }

  .main-image__text-divider {
    hr {
      width: 30px;
      text-align: center;
      margin: auto;
      border: 2px solid rgb(219, 151, 5);
    }
  }

  p {
    margin: 1rem 0 1rem 0;
    font-size: 5vw;
    font-weight: bold;

    @include media-breakpoint-up(sm) {
      font-size: 2rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2.4rem;
    }
  }
}

#quotation-image {
  position: relative;
  height: 400px;
  background-size: cover;
  background-position: 100% 45%;
  margin-bottom: 150px;

  @include media-breakpoint-up(md) {
    margin-bottom: 100px;
  }

  .quotation-image__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(220, 220, 220, 0.55);
  }

  .quotation-image__text-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);

    @include media-breakpoint-up(md) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .quotation-image__text {
    text-align: center;
    p {
      text-transform: uppercase;
      font-size: 5vw;
      font-weight: bold;

      @include media-breakpoint-up(sm) {
        font-size: 2.5rem;
      }

      @include media-breakpoint-up(lg) {
        font-size: 3rem;
      }
    }
  }

  .quotation-button {
    position: absolute;
    left: 50%;
    bottom: -100px;
    height: 200px;
    width: 200px;

    transform: translateX(-50%);

    @include media-breakpoint-up(md) {
      left: auto;
      right: 10%;
      bottom: -50px;
      transform: none;
    }

    @include media-breakpoint-up(lg) {
      right: 20%;
      bottom: -70px;
    }
  }

  .quotation-button__text {
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;

    p {
      font-size: 1.45rem;
    }
  }
}

.textpage {
  h1 {
    margin-bottom: 1rem;
  }
}
