/* MENU */

.navbar {
  height: 60px;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.5rem 0rem;

  @include media-breakpoint-up(lg) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.navbar .fas,
.navbar .fab {
  color: white;
  font-size: 2rem;
  line-height: 2rem;
}

.navbar-toggler {
  border: none;
  &:focus {
    outline: none;
    border: none;
  }
}

.navbar-nav-language {
  width: 80px;
}

.nav-link {
  color: $color-blue-font-dark !important;
  text-align: center;
  font-size: 1.3rem;

  @include media-breakpoint-down(md) {
    text-align: left;
  }
}

.nav-item-uppercase {
  text-transform: uppercase;
}

.nav-item-bold {
  font-weight: bold;
}

.nav-item-seperator {
  color: $color-blue-font-dark;
  font-size: 1.2rem;
  margin: 0rem 0.5rem;
}

.nav-language-item.active {
  font-weight: bold;
}

a.nav-language-item:hover {
  text-decoration: underline;
}

.nav-bg-black {
  background-color: $color-green-bg;
}

.menu-logo {
  position: absolute;
  right: 30px;
  top: 20px;
  height: 40vw;
  width: 40vw;
  max-height: 120px;
  max-width: 120px;

  img {
    height: 100%;
  }

  @include media-breakpoint-up(sm) {
    height: 150px;
    max-height: 150px;
    max-width: 150px;
  }

  @include media-breakpoint-up(lg) {
    left: 30px;
    top: 40px;
  }
}
